# string

In [4]:
s1="mysirg"
print(s1[-2])

r

In [10]:
s2="phython developer"
for h in s2:
    print(h,end ='        ')

p        h        y        t        h        o        n                 d        e        v        e        l        o        p        e        r

In [16]:
s3="hello my name is yash shinde"
print(len(s3))
print(type(s3))
print(min(s3))
print(max(s3))
print(sorted(s3))

28
<class 'str'>

y
[' ', ' ', ' ', ' ', ' ', 'a', 'a', 'd', 'e', 'e', 'e', 'h', 'h', 'h', 'i', 'i', 'l', 'l', 'm', 'm', 'n', 'n', 'o', 's', 's', 's', 'y', 'y']

In [18]:
s1="abcd"
s2="efgh"
print(s1+s2)
print(s1*2)

abcdefgh
abcdabcd

In [26]:
s3="codewith harry"
s4="mysirji"
s4>s3

True

In [4]:
s1="today is goood day"
print(len(s1))

18

In [19]:
s2="i am going be an a top 1% engineer and 1% earner "
print(s2.index("be"))
print(s2.count('1%'))
print(s2.count(' '))
print(s2.startswith("i"))
print(s2.endswith("earner"))
print(s2.endswith(" "))
print(s2.islower())
print(s2.isupper())
print(s2.upper())

11
2
12
True
False
True
True
False
I AM GOING BE AN A TOP 1% ENGINEER AND 1% EARNER

In [22]:
s3="My sirg has provided good content"
print(s3.replace('M','m'))
print(s3.replace("has","have"))

my sirg has provided good content
My sirg have provided good content

In [26]:
a=19
b=38
s3="value of a is {} and b is {} and their sum is {}"
print(s3.format(19,38,57))
a=10
b=20
s3="sum of {} and {} is {}"
print(s3.format(a,b,a+b))
s1="yash"
s2="{} how are you?"
print(s2.format(s1))

value of a is 19 and b is 38 and their sum is 57
sum of 10 and 20 is 30
yash how are you?

In [35]:
s1=" hello my dear firiends"
print(s1.split(" "))
print(s1.split('$'))
s2= input("enter a numberk seperated by comma")

['', 'hello', 'my', 'dear', 'firiends']
[' hello my dear firiends']

enter a numberk seperated by comma 2 3 4

In [38]:
s2=["mysierg","is","outstanding"]
s3="-".join(s2)