# dictionary

In [1]:
d1={ 11:'yash',16:'krushna',18:'ritesh',19:'om'}
print(d1)

{11: 'yash', 16: 'krushna', 18: 'ritesh', 19: 'om'}

In [8]:
d2={}
print(type(d2))
d3=dict(a="abhi",b="bhibi",c='chuchi')
print(d3)

<class 'dict'>
{'a': 'abhi', 'b': 'bhibi', 'c': 'chuchi'}

In [12]:
d6={11:'yash',16:'krushna',18:'ritesh',19:'om'}
print(d4[11],d4[19])
for k in d4:
    print(k,d4[k])
d4[16]='radha rani'
print(d4)

yash om
11 yash
16 krushna
18 ritesh
19 om
{11: 'yash', 16: 'radha rani', 18: 'ritesh', 19: 'om'}

In [27]:
d6={1:"radha rani",2:"krishna",3:"mammi",4:"brother"}
print(d5.keys())
print(d5.values())
print(d5.items())

dict_keys([1, 2, 3, 4])
dict_values(['radha rani', 'krishna', 'mammi', 'brother'])
dict_items([(1, 'radha rani'), (2, 'krishna'), (3, 'mammi'), (4, 'brother')])

In [36]:
d6={23:"yash",38:"mahesh",47:"ramesh",90:"raghav"}
d1={ 11:'yash',16:'krushna',18:'ritesh',19:'om'}

print(len(d6))
#print(d6.index(23))
print(max(d6))
print(min(d6))
print(sum(d6))
print(sorted(d6))
d6==d1
print(d1.pop(16))
print(d1.popitem())
m=d6.clear()
print(m)

4
90
23
198
[23, 38, 47, 90]
krushna
(19, 'om')
None

In [37]:
d7={a:a**2 for a in range(1,8,1)}
print(d7)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}